@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

:root {
  --primary-default: #30F769;
  --primary-dark: #177832;
  --primary-light: #8BF7A9;
  --primary-subtitle: #D2F7DD;
  --secondary-default: #2ADE5D;
  --secondary-dark: #0B3818;
  --secondary-light: #B3FFC8;
  --secondary-subtitle: #DFF7E6;
  --feedback-negative: #F71616;
  --feedback-warning: #F7CA23;
  --feedback-success: #6DF723;
  --feedback-infos: #4857F7;
  --feedback-enthusiasm: #F75816;
  --feedback-romantic:#F748F7;
  --feedback-magic: #9848F7;
  --feedback-communication:#23FCDB;
  --gray-100-opacity-85: #181818be;
  --gray-100: #18181B;
  --gray-200: #212429;
  --gray-300: #575A61; 
  --gray-400: #DADCDF;
  --gray-500: #F4F5F8; 
  --white: #FFFFFF;
}